
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Shubham Agarwal</h1>
        <h2> <%=1*2 %> </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
            debitis praesentium deserunt corrupti doloribus. Laboriosam, aliquid
            tempore tenetur, nemo dicta laudantium ipsam magni officia illo
            ratione vel, et exercitationem laborum.</p>
        <button>Click me</button>
    </body>
</html>